/.devpanel/dumps/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/.vscode/
/composer.json
/composer.lock
/logs/*
/patches.lock.json
/private/
/recipes/
/vendor/
/web/
/.ddev/.env
/bin
/LICENSE
/phpcs.xml.dist
/phpstan-baseline.php
/phpstan.neon
/phpunit.xml.dist
/README_FRONTEND_TOOLING.md
/assets
